@import '../../styles/variables';
.container {
  display: flex;
  height: 20rem;
  background-color: $color_footer;
  width: 100%;
  img {
    object-fit: contain;
  }
}
.row {
  @include container;
  @include center;
}

@media (min-width: 768px) {
  .row {
    justify-content: flex-start;
  }
}